/*------------------------------------------------------------------------------
              Notebook Background Color Schemes by CyanVoxel v2.1.1

These a few CSS classes that mimic a few of my real-world pages and pen colors.
Go ahead and try it out! You can change or add new color variables or entire new
classes and combinations. Inside Obsidian, apply a page class with an optional
pen color class to see the effects. Add the recolor-images class to recolor
the images in your notes, too!

Website used to generate Color Filters:
https://angel-rs.github.io/css-color-filter-generator
                


             +   Museifu Custom Backgrounds by Museifu's Creator v1.1.2  +

The Museifu theme was a theme I've made only for myself, so many concepts I use and snippets for it
are inspired by other themes and snippets (in some cases, just like this one, it's basically an improved
copy, with "improved" meaning "reshaped to fit the theme in a better way").

Notebook Background Color Schemes was the snippet who introduced me to the idea of having custom
backgrounds for each note. It's so powerful: you can have infinite themes inside a single theme!
That's why I started adding my own variations and integrated it into my personal theme.

Thanks CyanVoxel, creating the code from scratch would be extremely hard to me.
His snippet can be found in the link below:
https://github.com/CyanVoxel/Obsidian-Notebook-Themes

On Museifu, you'll see "Museifu's Creator" being used to refeer to me, since I don't want
to pin this project to a single online username. You can find the theme and its snippets
on my GitHub account:
https://github.com/account-not-relevant

------------------------------------------------------------------------------*/

/* Global Variables */
:root {
  /* Base Pen Colors */
  --pen-white: #edf1fc;
  --pen-gray: #5f5d58;
  --pen-black: #26241f;
  --pen-red: #e14a49;
  --pen-green: #15b64f;
  --pen-blue: #3f76ed;
  --pen-light-blue: #54b6f8;
  --pen-purple: #9b4ff0;
  --pen-museifu-dark: #838383;
  --pen-museifu-cream: #804620; 
  --pen-museifu-paperlike: #32302c;
  --pen-museifu-paperdark: #beb7b7;
  --pen-museifu-simple: var(--pen-white);

  --neutral-pen-black: #272727;
  --neutral-pen-black-trans: #27272722;

  /* Page Colors */
  --page-white: #d3d3d3;
  --page-manila: #f3deaf;
  --page-blue: #3f76ed;
  --page-museifu-dark: #0c0c0c;
  --page-museifu-cream: #ffd698;
  --page-museifu-paperlike: #ffffff;
  /* --page-museifu-darkpaper: #0c0c0c; */
  --page-museifu-paperdark: #000000;
  --page-museifu-simple: red;

  /* Default Variables */
  --page-color: var(--page-manila);
  --accent-color: var(--pen-black);
  --accent-color-trans: color-mix(in srgb, var(--pen-black) 15%, transparent);
  --accent-color-trans-stronger: color-mix(in srgb, var(--pen-black) 80%, transparent);

  --grid-size: 32px;

  --museifu-light-gray: #9b9b9b;
}







/* after adding to the theme, remove this */
.titlebar-button-container.mod-right {
  height: 20px;
}






/* Metadata modifications - you can delete to reset and it won't cause problems */

.metadata-container:is(.is-collapsed) .metadata-properties-title,
.collapse-indicator.collapse-icon.is-collapsed {
  color: var(--accent-color);
  opacity: 0.4;
  transition-duration: 0.3s;

}

.metadata-properties-title:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.metadata-container {
  background-color: var(--accent-color-trans);
  padding: 10px;
  border-radius: 15px;
}

/* Recolors images on the page with the current accent color. */
.recolor-images img {
  filter: var(--image-effect);
}

.museifu-banner-recolor img[alt*="museifu-banner"] {
  filter: var(--image-effect);
}


/* ---------------------------- Page Backgrounds ---------------------------- */
/* All Pages */
.page-manila,
.page-white,
.page-blueprint,
.page-museifu-dark,
.page-museifu-cream,
.page-museifu-paperlike,
.page-museifu-paperdark,
.page-museifu-simple {
  --text-normal: var(--accent-color);
  --text-muted: var(--accent-color);
  --text-faint: var(--accent-color-trans);
  --h1-color: var(--accent-color);
  --h2-color: var(--accent-color);
  --h3-color: var(--accent-color);
  --h4-color: var(--accent-color);
  --h5-color: var(--accent-color);
  --h6-color: var(--accent-color);
  /* --text-highlight-bg: do something about this later; */
  --link-color: var(--pen-blue);
  --link-color-hover: var(--pen-light-blue);
  --link-unresolved-color: var(--pen-red); /* maybe create a var that mixes the accent with a bit of red */

  --hr-color: var(--accent-color);
  --blockquote-border-color: var(--accent-color);
  --embed-border-left: 2px solid var(--accent-color);
  --collapse-icon-color-collapsed: var(--accent-color);
  --checkbox-color: var(--accent-color);
  --checkbox-marker-color: var(--page-color);
  --checkbox-color-hover: var(--accent-color-trans);
  --checkbox-border-color: var(--accent-color);
  --checklist-done-color: var(--accent-color);
  --list-marker-color: var(--accent-color);

  --interactive-accent: var(--accent-color);
  --metadata-label-text-color: var(--accent-color);
  --metadata-input-text-color: var(--accent-color);
  --tag-color: var(--accent-color);
  --tag-background: var(--accent-color-trans);
  --pill-cover-hover: color-mix(in srgb, var(--accent-color) 60%, transparent);
  --background-modifier-border-focus: var(--accent-color);
  --background-modifier-border: var(--accent-color-trans);
  --background-modifier-hover: color-mix(
    in srgb,
    var(--accent-color) 60%,
    transparent
  );

  color: var(--accent-color);
  background-color: var(--page-color);
  font-weight: normal;
}

.page-manila {
  --page-color: var(--page-manila);
  --accent-color: var(--pen-black);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
  --image-effect: brightness(0) saturate(100%) invert(14%) sepia(19%)
    saturate(296%) hue-rotate(5deg) brightness(90%) contrast(96%);
  color-scheme: light;
}
.embed-manila img {
  background-color: var(--page-manila);
}

.page-white {
  --page-color: var(--page-white);
  --accent-color: var(--neutral-pen-black);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
  --image-effect: brightness(0) saturate(100%) invert(14%) sepia(19%)
    saturate(296%) hue-rotate(5deg) brightness(90%) contrast(96%);
  color-scheme: light;
  --bold-color: rgb(0, 0, 0);
  --italic-color: rgb(74, 77, 74);
  --link-external-color: rgb(0, 0, 0);
}
.embed-white img {
  background-color: var(--page-white);
}

.page-blueprint {
  --page-color: var(--page-blue);
  --accent-color: var(--pen-white);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
  --image-effect: brightness(0) saturate(100%) invert(89%) sepia(1%)
    saturate(2714%) hue-rotate(196deg) brightness(107%) contrast(98%);
  color-scheme: dark;

  --link-color: color-mix(in srgb, var(--pen-light-blue) 60%, var(--pen-white));
  --link-color-hover: color-mix(
    in srgb,
    var(--pen-light-blue) 20%,
    var(--pen-white)
  );
}
.embed-blueprint img {
  background-color: var(--page-blue);
}


/* +   MUSEIFU PAGE THEMES   + */


.page-museifu-dark {
  --page-color: var(--page-museifu-dark);
  --accent-color: var(--pen-museifu-dark);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
    --image-effect: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(1248%) hue-rotate(250deg) brightness(103%) contrast(92%);
  color-scheme: dark;
  
  --link-color: (var(--accent-color));
  --link-external-color: (var(--accent-color));
  --text-highlight-bg: var(--accent-color-trans);
  --code-background: var(--accent-color);
  --link-color-hover: #ffffff;
  --link-unresolved-color: #686868;

}

.page-museifu-cream {
  --page-color: var(--page-museifu-cream);
  --accent-color: var(--pen-museifu-cream);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
  --image-effect: brightness(0) saturate(100%) invert(28%) sepia(10%) saturate(4620%) hue-rotate(346deg) brightness(93%) contrast(83%);
  
  color-scheme: light;
  --link-color: (var(--accent-color));
  --link-external-color: (var(--accent-color));
  --bold-color: #c54800;
  --italic-color: #ad7326;
  --text-highlight-bg: rgb(233, 207, 167);
  --code-background: var(--accent-color);
  --text-selection: rgba(167, 127, 75, 0.555);
  --link-color-hover: #ff6f0f;
  --link-unresolved-color: #c48136;

}

.page-museifu-paperlike {
  --page-color: var(--page-museifu-paperlike);
  --accent-color: var(--pen-museifu-paperlike);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
  --image-effect: brightness(0) saturate(100%) invert(16%) sepia(15%) saturate(270%) hue-rotate(2deg) brightness(100%) contrast(92%);

  color-scheme: light;
  --link-color: (var(--accent-color));
  --link-external-color: (var(--accent-color));
  --bold-color: #6d6d6d;
  --italic-color: #6d6d6d;
  --text-highlight-bg: rgb(177, 177, 177);
  --text-selection: rgba(167, 167, 167, 0.555);
  --code-background: #6d6d6d;
  --link-color-hover: #000000;
  --link-unresolved-color: #757575;
}

.page-museifu-paperlike::before { 
  content: "";
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 1300px;
  opacity: 0.32;
  top: 20px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 40px;
}

.page-museifu-paperdark {
  --page-color: var(--page-museifu-paperdark);
  --accent-color: var(--pen-museifu-paperdark);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
  --image-effect: brightness(0) saturate(100%) invert(16%) sepia(15%) saturate(270%) hue-rotate(2deg) brightness(100%) contrast(92%);

  color-scheme: dark;
  --hr-color: var(--accent-color);
  --bold-color: #e9e9e9;
  --italic-color: #d8d8d8;
  --link-color: #ffffff;
  --link-external-color: #ffffff;
  --link-color: var(--bold-color);
  --link-unresolved-color: #979797;
  --text-highlight-bg: var(--accent-color-trans);
  --link-color-hover: #dbdbdb;
}

.page-museifu-paperdark::before { 
  content: "";
  background-color: color-mix(in srgb, var(--accent-color) 50%, transparent 100%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 1200px;
  opacity: 0.32;
  top: 20px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 40px;
}


.page-museifu-simple {
  --page-color: color-mix(in srgb, var(--accent-color) 10%, transparent 80%);
  --accent-color: var(--pen-museifu-simple);
  --accent-color-trans: color-mix(
    in srgb,
    var(--accent-color) 15%,
    transparent
  );
    --image-effect: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(1248%) hue-rotate(250deg) brightness(103%) contrast(92%);
  color-scheme: dark;
  
  --link-color: (var(--accent-color));
  --link-external-color: (var(--accent-color));
  --text-highlight-bg: var(--accent-color-trans);
  --code-background: var(--accent-color-trans);
  --link-color-hover: var(--accent-color);
  --link-unresolved-color: var(--accent-color);
}

/* Adds a grid layout on page background */
.page-grid {
  background-image: linear-gradient(
      0deg,
      transparent 0px,
      var(--accent-color-trans) 1px,
      var(--accent-color-trans) 2px,
      transparent 3px
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--grid-size) - 3px),
      var(--accent-color-trans) calc(var(--grid-size) - 2px),
      var(--accent-color-trans) calc(var(--grid-size) - 1px),
      transparent var(--grid-size)
    );
  background-size: var(--grid-size) var(--grid-size);
}

/* ------------------------------- Pen Colors ------------------------------- */
/* Image Effects generated with:
    https://angel-rs.github.io/css-color-filter-generator */

/* All Colors */
:is(
    .page-white,
    .page-manila,
    .page-blueprint,
    .pen-white,
    .pen-blue,
    .pen-red,
    .pen-green,
    .pen-black,
    .pen-gray,
    .pen-purple,
    .pen-museifu-dark,
    .pen-museifu-cream,
    .pen-museifu-paperlike,
    .pen-museifu-paperdark,
    .pen-museifu-simple
  )
  svg {
  color: color-mix(in srgb, var(--accent-color) 60%, transparent);
}
.pen-white {
  --accent-color: var(--pen-white);
  --accent-color-trans: color-mix(in srgb, var(--pen-white) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(89%) sepia(1%)
    saturate(2714%) hue-rotate(196deg) brightness(107%) contrast(98%);
  --bold-color: #ffffff;
  --italic-color: #e9e9e9;
  --link-color: (var(--accent-color));
  --code-background: var(--pen-black);
  --text-highlight-bg: var(--pen-black);

}
.pen-blue {
  --accent-color: var(--pen-blue);
  --accent-color-trans: color-mix(in srgb, var(--pen-blue) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(36%) sepia(95%)
    saturate(945%) hue-rotate(199deg) brightness(95%) contrast(95%);
  --bold-color: #6d77ff;
  --italic-color: #7674ff;
  --link-color: (var(--accent-color));
  --code-background: var(--accent-color);
  --text-highlight-bg: var(--accent-color-trans);

}
.pen-red {
  --accent-color: var(--pen-red);
  --accent-color-trans: color-mix(in srgb, var(--pen-red) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(40%) sepia(41%)
    saturate(1024%) hue-rotate(316deg) brightness(99%) contrast(94%);
  --bold-color: #ff0b0b;
  --italic-color: #ff9292;
  --link-color: (var(--accent-color));
  --code-background: var(--accent-color);
  --text-highlight-bg: var(--accent-color-trans);

  --unresolved-link-color: var(--pen-green);
  --link-color-hover: var(--pen-blue);

}
.pen-green {
  --accent-color: var(--pen-green);
  --accent-color-trans: color-mix(in srgb, var(--pen-green) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(52%) sepia(60%)
    saturate(2521%) hue-rotate(105deg) brightness(96%) contrast(84%);
  --bold-color: #1cb308;
  --italic-color: #00b90f;
  --link-color: (var(--accent-color));
  --code-background: var(--accent-color);
  --text-highlight-bg: var(--accent-color-trans);

}
.pen-black {
  --accent-color: var(--pen-black);
  --accent-color-trans: color-mix(in srgb, var(--pen-black) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(14%) sepia(19%)
    saturate(296%) hue-rotate(5deg) brightness(90%) contrast(96%);
  --bold-color: #000000;
  --italic-color: #272727;
  --link-color: (var(--accent-color));
  --code-background: var(--accent-color);
  --text-highlight-bg: var(--accent-color-trans);

}
.pen-gray {
  --accent-color: var(--pen-gray);
  --accent-color-trans: color-mix(in srgb, var(--pen-gray) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(35%) sepia(13%)
    saturate(189%) hue-rotate(5deg) brightness(96%) contrast(86%);
  --bold-color: #6e6e6e;
  --italic-color: #7a7a7a;
  --link-color: (var(--accent-color));
  --code-background: var(--accent-color);
  --text-highlight-bg: var(--accent-color-trans);

}
.pen-purple {
  --accent-color: var(--pen-purple);
  --accent-color-trans: color-mix(in srgb, var(--pen-purple) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(33%) sepia(59%)
    saturate(2620%) hue-rotate(249deg) brightness(98%) contrast(93%);
  --bold-color: #ae23ff;
  --italic-color: #eb53ff;
  --link-color: (var(--accent-color));
  --code-background: var(--accent-color);
  --text-highlight-bg: var(--accent-color-trans);

}
.pen-museifu-dark {
  --accent-color: var(--pen-museifu-dark);
  --accent-color-trans: color-mix(in srgb, var(--pen-museifu-dark) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(1248%) hue-rotate(250deg) brightness(103%) contrast(92%);
  --bold-color: #6e6e6e;
  --italic-color: #7a7a7a;
  --code-background: var(--accent-color);
  --link-color: (var(--accent-color));
  --text-highlight-bg: var(--accent-color-trans);
  --link-color-hover: #ffffff;
  --link-unresolved-color: #686868;

  --h1-color: var(--museifu-light-gray);
  --h2-color: var(--museifu-light-gray);
  --h3-color: var(--museifu-light-gray);
  --h5-color: var(--museifu-light-gray);
  --h4-color: var(--museifu-light-gray);
  --h6-color: var(--museifu-light-gray); 
}

.pen-museifu-cream {
  --accent-color: var(--pen-museifu-cream);
  --accent-color-trans: color-mix(in srgb, var(--pen-museifu-cream) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(28%) sepia(10%) saturate(4620%) hue-rotate(346deg) brightness(93%) contrast(83%);
  --bold-color: #964111;
  --italic-color: #ad7326;
  --code-background: var(--accent-color);
  --link-color: (var(--accent-color));
  --text-highlight-bg: var(--accent-color-trans);
  --link-color-hover: #ff6f0f;
  --link-unresolved-color: #c48136;

  }

.pen-museifu-paperlike {
  --accent-color: var(--pen-museifu-paperlike);
  --accent-color-trans: color-mix(in srgb, var(--pen-museifu-paperlike) 15%, transparent);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(16%) sepia(15%) saturate(270%) hue-rotate(2deg) brightness(100%) contrast(92%);
  --bold-color: #6d6d6d;
  --italic-color: #6d6d6d;
  --code-background: var(--bold-color);
  --text-highlight-bg: var(--accent-color-trans);
  --link-color-hover: #000000;
  --link-unresolved-color: #757575;
}

.pen-museifu-paperdark {
  --accent-color: var(--pen-museifu-paperdark);
  --accent-color-trans: color-mix(in srgb, var(--pen-museifu-paperdark) 15%, transparent);
  color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(1248%) hue-rotate(250deg) brightness(103%) contrast(92%);
  --hr-color: var(--accent-color);
  --bold-color: #e9e9e9;
  --italic-color: #d8d8d8;
  --link-color: #ffffff;
  --link-external-color: #ffffff;
  --link-color: var(--bold-color);
  --text-highlight-bg: var(--accent-color-trans);
  --link-color-hover: #dbdbdb;
  --link-unresolved-color: #979797;
}

/* +   CUSTOM PAGE VARIATIONS   + */

.page-grid-big {
  background-image: linear-gradient(
      0deg,
      transparent 0px,
      var(--accent-color-trans) 1px,
      var(--accent-color-trans) 2px,
      transparent 3px
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--grid-size) - 3px),
      var(--accent-color-trans) calc(var(--grid-size) - 2px),
      var(--accent-color-trans) calc(var(--grid-size) - 1px),
      transparent var(--grid-size)
    );
  background-size: 64px 64px;
}

.page-grid-giant {
  background-image: linear-gradient(
      0deg,
      transparent 0px,
      var(--accent-color-trans) 1px,
      var(--accent-color-trans) 2px,
      transparent 3px
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--grid-size) - 3px),
      var(--accent-color-trans) calc(var(--grid-size) - 2px),
      var(--accent-color-trans) calc(var(--grid-size) - 1px),
      transparent var(--grid-size)
    );
  background-size: 200px 200px;
}

.page-grid-omega {
  background-image: linear-gradient(
      0deg,
      transparent 0px,
      var(--accent-color-trans) 1px,
      var(--accent-color-trans) 2px,
      transparent 3px
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--grid-size) - 3px),
      var(--accent-color-trans) calc(var(--grid-size) - 2px),
      var(--accent-color-trans) calc(var(--grid-size) - 1px),
      transparent var(--grid-size)
    );
  background-size: 400px 400px;
}

.stronger-grid {
    background-image: linear-gradient(
      0deg,
      transparent 0px,
      var(--accent-color-trans-stronger) 1px,
      var(--accent-color-trans-stronger) 2px,
      transparent 3px
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--grid-size) - 3px),
      var(--accent-color-trans-stronger) calc(var(--grid-size) - 2px),
      var(--accent-color-trans-stronger) calc(var(--grid-size) - 1px),
      transparent var(--grid-size)
    );
}

.black-block-grid {
  background-image: linear-gradient(
      0deg,
      transparent 0px,
      rgba(255, 255, 255, 0) 1px,
      rgba(255, 255, 255, 0) 2px,
      transparent 3px
    ),
    linear-gradient(
      45deg,
      transparent calc(var(--grid-size) - 3px),
      rgb(0, 0, 0) 200px,
      rgb(0, 0, 0) 1000px,
      transparent var(--grid-size)
    );
}

.soft-block-grid {
  background-image: linear-gradient(
      90deg,
      transparent 0px,
      rgba(0, 0, 0, 0) 1px,
      rgba(0, 0, 0, 0) 2px,
      transparent 3px
    ),
    linear-gradient(
      180deg,
      transparent 0px,
      rgba(0, 0, 0, 0) 1px,
      rgba(0, 0, 0, 0) 2px,
      transparent 3px
    ),
    linear-gradient(
      45deg,
      transparent calc(var(--grid-size) - 3px),
      rgb(255, 255, 255) 10000px,
      rgb(0, 0, 0) 10000px,
      transparent var(--grid-size)
    );
}

.page-dots {
  background-image: linear-gradient(60deg,transparent 45%,#00000000 50%,transparent 45%),
  linear-gradient(-60deg,transparent 45%,#00000000 50%,transparent 45%),
  linear-gradient(180deg,transparent 45%,#00000000 50%,transparent 45%),
  linear-gradient(90deg,transparent 45%,#00000000 50%,transparent 45%),
  radial-gradient(color-mix(in srgb, var(--accent-color) 35%, transparent) 4px,transparent 0);
  background-size: 140px 140px, 60px 60px;
}